table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even){background-color: lightcyan}
  
  th {
    background-color:gray;
    color: white;
  }

  tr {
    cursor: pointer;
  }

  div {
      margin-bottom: 10px;
  }

  .example-container {
    position: relative;
    padding: 5px;
  }

  .custom-popup {
    position: fixed;
    top: 50px;
    left: 150px;
    right: 150px;
    z-index: 1001;
    border: 3px solid #3a3a3a;
    background-color: #f9f9f9;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#modal-container {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, 0.7);
}

.popup-form-buttons {
    float: right;
    margin-top: 50px;
}

.json-container {
    padding: 50px; 
    padding-top: 10px
}

.json-viewer {
    max-height: 300px; 
    overflow-y: scroll;
}

.spinner {
    width: 100px;
    margin-left: 40%;
}

.filter-posts {
    width: 350px; 
    height: 25px; 
    margin-bottom: 5px;
}

input[type=submit] {
    background: #22baff;
    border: none;
    text-transform: uppercase;
    font-family: 'MontserratU';
    font-size: 17px;
    letter-spacing: 0.04em;
    text-shadow: none;
    line-height: 1.2; 
    cursor: pointer;
}

 input[type=submit]:hover {
      background-color: #ececec;
      color: #22baff; }
  