<h1>Posts</h1>
<div id="modal-container" *ngIf="showPopup" (click)="disposeModal()"></div>
<div class="custom-popup" *ngIf="showPopup">
  <div class="json-container">
      <h2>Raw Json Data</h2>
      <div class="json-viewer">
        <ngx-json-viewer [json]="post"></ngx-json-viewer>
      </div>
      <div class="popup-form-buttons">
        <input type="submit" value="Close" (click)="disposeModal()">
      </div>
  </div>
</div>
<div *ngIf="isLoadingResults" class="example-container mat-elevation-z8 spinner">
  <div class="example-loading-shade">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>
</div>
<div>
  Filter by Title: <input type="text" (input)="filterPosts($event.target.value)" class="filter-posts" maxlength="100" placeholder="Enter keyword to search">
  <br/>Total Records: {{tempPost$?.length}}
  <br/>Displaying Records: {{posts$?.length}}
</div>
<table>
  <thead>
    <th>Title</th>
    <th>URL</th>
    <th>Created At</th>
    <th>Author</th>
  </thead>
  <tr *ngFor="let post of posts$" (click)="showDetail(post)">
    <td>{{ post.title }}</td>
    <td>{{ post.url }}</td>
    <td>{{ post.created_at }}</td>
    <td>{{ post.author }}</td>
  </tr>
  <tr *ngIf="posts$?.length == 0">
    <td colspan="4" style="text-align: center">No Records Found</td>
  </tr>
</table>